body {
    margin: 0;
    background-color: #f7f7f7;
}

.page-container {
    display: flex;
    gap: 30px;
    padding: 30px;
    background-color: #f7f7f7;
    min-height: 100vh;
    box-sizing: border-box;
    align-items: flex-start;
}

.main-header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 30px 0 50px;
    box-sizing: border-box;
}

.header-actions h1 {
    margin: 0;
}

.sidebar {
    width: 250px;
    flex-shrink: 0;
    position: sticky;
    top: 20px;
    flex-basis: 250px;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    height: fit-content;
    box-sizing: border-box;
}

.main-content {
    flex-grow: 1;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 25px;
    color: #333;
}

.filter-group {
    margin-bottom: 20px;
}

.search-input,
.sort-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #686666;
    border-radius: 4px;
    box-sizing: border-box;
}

.selected-filters {
    margin-top: 15px;
}

.filter-badge {
    display: inline-flex;
    align-items: center;
    color: #4a5568;
    padding: 5px 10px;
    border-radius: 9999px;
    font-size: 14px;
    margin-right: 10px;
    border: 2px solid #FFD700;
}

.remove-filter {
    color: #FFD700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFD700;
    width: 18px;
    height: 18px;
    margin-left: 8px;
    border-radius: 50%;
    text-decoration: none;
    line-height: normal;
    font-weight: bold;
    transition: background-color 0.2s;
    transform: translateY(1px);
}

.remove-filter:hover {
    color: #718096;
}

.search-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #f1c40f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.header-actions {
    display: flex;
    justify-content: flex-end;

}

.add-product-btn {
    background-color: #f1c40f;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.product-card-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-name {
    font-weight: bold;
    color: #333;
}

.product-price {
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.pagination {
    margin-top: 30px;
    text-align: center;
}

.pagination nav div p.text-sm,
.pagination nav>div:first-child {
    display: none !important;
}

.pagination nav .hidden.sm\:flex-1,
.pagination nav>div:last-child {
    display: flex !important;
    justify-content: center;
    align-items: center;
    box-shadow: none !important;
}

.pagination a,
.pagination span {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 5px !important;
    background-color: #fff;
    border: 1px solid #ddd !important;
    text-decoration: none;
    color: #333;
    border-radius: 50% !important;
    padding: 0 !important;
    position: static !important;
    flex-shrink: 0;
}

.pagination [aria-current="page"]>span {
    background-color: #f1c40f !important;
    border-color: #f1c40f !important;
    color: #fff !important;
    cursor: default;
}

.pagination a:hover {
    background-color: #f9f9f9;
    border-color: #ccc;
}

.pagination svg {
    width: 20px;
    height: 20px;
    display: block;
}